.l-card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    color: #fff;

    &:hover {
        text-decoration: none;
    }

    &--round {
        border-radius: 20px;
    }

    &--shadow {
        padding: 0 0.5rem;
    }
}

.l-card__img {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.5rem 0;
    position: relative;

    &--shadow-blue {
        border: 5px solid #fff;
        box-shadow: 0 0 12px 0 #eab57280;
    }

    &--bg-grey {
        background-color: #f7f7f7;
    }

    &--h-150 {
        height: 150px;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}

.l-card__caption {
    font-size: rem(14);
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: $color-grey-800;
}

.l-card__title {
    font-weight: 600;
    font-size: 1rem;
    color: $color-black;
    display: block;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
        text-decoration: none;
        color: $color-black;
        &:hover {
            text-decoration: underline;
        }
    }
}

.l-card__text {
    font-size: rem(14);
    font-weight: 500;
    margin: 0.5rem 0;
    color: $color-grey-900;

    a {
        text-decoration: none;
        color: $color-black;
        &:hover {
            text-decoration: underline;
        }
    }
}

.l-card__img__span1 {
    position: absolute;
    left: 8px;
    bottom: 8px;
    padding: 3px 8px;
    background: #f7f7f7;
    border-radius: 4px;
    color: $color-black;
    font-weight: 600;
    font-size: rem(14);
}

.l-card__img__span2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 8px;
    bottom: 8px;
    gap: 4px;
    background: #f7f7f7;
    border: 2px solid #ffffff;
    border-radius: 12px;
    padding: 3px 6px;
    color: $color-black;
    font-weight: 600;
    font-size: rem(12);
    min-width: 50px;
    img {
        width: 16px;
        height: 16px;
    }
}
